---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Filip Mikina
      </span>
    </h1>
    <p class="text-2xl pb-4">Jack of all trades, master of automation.</p>
  </div>
  <div>
    <p class="mb-5 mt-2">
      I'm excited about automating and optimizing processes to enhance
      development speed and reliability. I'd describe myself as passionate about
      building scalable distributed systems and driving innovation through
      technology. <br />
      <br />Proficient in Golang, Kubernetes, Bazel, and CI/CD practices, I've
      been a key player in architecting robust systems and providing scalable
      solutions. As a Senior Software Engineer, I've mentored teams, championed
      technology advancements, and led backend initiatives, contributing to,
      e.g., cloud-native microservices.

      <br /><br />My journey spans across dynamic environments like Meta
      (Facebook), Microsoft, Google, and Amazon, where I've honed my skills in
      diverse technologies and embraced challenges in frontend, data
      engineering, cloud, automation, and infrastructure.

      <br /><br />If you’re interested in hiring me, check out my <a
        href={"https://drive.google.com/file/d/1_VTJwrwd53RWyrCkClUafzwAvkNjzIZ5/view?usp=sharing"}
        target="_blank">resume</a
      >. If you enjoy what I create, you can subscribe to my blog’s feed.
    </p>
  </div>
</section>
