---
type Props = {
  url: string;
  label: string;
  height: string;
};

const { url, label, height } = Astro.props;
---

<div>
  <iframe
    class="aspect-video w-full"
    src={url}
    title={label}
    frame-border="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    height={height}
  >
  </iframe>
</div>
